body {
    background-color: black;
}

.container{
    width: 100vw;
    height: 100vh;
}

.menus{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 90vh;
    animation-name: "title";
    animation-duration: 10s;
    animation-iteration-count: 1;
}

.title{
    width: 40vw;
    height: 10vh;
    text-align: center;
    color: blue;
    background-color: azure;
    padding: .5em;
 }

.lowermenu{
    width: 100vw;
    height: 10vw;
    display: flex;
    justify-content: space-evenly;
 }

 .menubutton{
     background-color: white;
     margin: auto 0;
     padding: 1em;
     height: 9vh;
     width: 20vw;
     text-align: center;
 }

.bg{
    background-image: url("../assets/images/cobblehill3.png");
    width: 120vw;
    height: 120vh;
    position: fixed;
    z-index: -1;
}

#loading{
    animation-name: "loading";
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0.6, 0.35, 0.15, 0.86);
}

@keyframes title { 
    from {opacity: 0;}
    to {opacity: 100;}
}

@keyframes loading {
from {
    width: 150vw;
    left: -800px;
    top: -700px;    
}
to {
    width: 100vw;
    top: 200px;
    left: 0;
}

}